@media screen and (min-width: 40rem) {
  header {
    padding: 1.5rem 2rem;
  }

  #menuButton {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .navigation a {
    padding: 0.75rem 1.5rem;

    border-bottom: none;
  }

  main {
    padding: 2rem;
  }

  main h1 {
    font-size: 2.5rem;
  }

  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    place-items: center;
  }
  
  .list-view .member-card {
    grid-template-columns: 2fr 1fr;
  }

  .hero {
    height: 500px;
  }

  .hero h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .application-details div {
    grid-template-columns: 200px 1fr;
  }
}

/* Medium screen */

@media screen and (min-width: 64rem) {
  header {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .logo span {
    font-size: 1.5rem;
  }

  .navigation {
    gap: 0.5rem;
  }

  .grid-view, .home-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-view {
    grid-template-columns: 1fr;
  }

  .list-view .member-card {
    grid-template-columns: 3fr 2fr;
    padding: 1.5rem 2rem;
  }

  .list-view .member-header {
    gap: 2rem;
  }

  .list-view .member-info h2 {
    font-size: 1.3rem;
  }

  .list-view .member-details {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .hero {
    height: 600px;
  }

  .hero h1 {
    font-size: 3.5rem;
  }

  .spotlights-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .join-container {
    grid-template-columns: 2fr 1fr;
  }

  .membership-cards {
    position: sticky;
    top: 2rem;

    align-self: start;
  }

  .attractions-grid {
    position: relative;
    padding: 0 2rem;
    max-width: 1200px;
    width: 100vw;
    left: 50%;
    grid-template-areas:
      "card2 card2 card2"
      "card1 card4 card3"
      "card5 card5 card5"
      "card7 card8 card6";

    transform: translateX(-50%);
  }
}

/* Large screens */

@media screen and (min-width: 80rem) {
  .grid-view {
    grid-template-columns: repeat(4, 1fr);
  }

  .spotlights-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .attractions-grid {
    max-width: 1400px;
    grid-template-areas:
      "card1 card2 card2 card3"
      "card4 card4 card5 card5"
      "card6 card7 card7 card8";
  }
}