@media screen and (min-width: 40rem) {
  header {
    padding: 1.5rem 2rem;
  }

  #menuButton {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    gap: 0;
  }

  .navigation a {
    padding: 0.75rem 1.5rem;

    border-bottom: none;
    border-radius: var(--rounded);
  }

  main {
    padding: 2rem;
  }

  main h1 {
    font-size: 2.5rem;
  }

  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    place-items: center;
  }
  
  .list-view .member-card {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 64rem) {
  header {
    display: flex;

    align-items: center;
    justify-content: space-between;
  }

  .logo span {
    font-size: 1.5rem;
  }

  .navigation {
    gap: 0.5rem;
  }

  .grid-view {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-view {
    grid-template-columns: 1fr;
  }

  .list-view .member-card {
    grid-template-columns: 3fr 2fr;
    padding: 1.5rem 2rem;
  }

  .list-view .member-header {
    gap: 2rem;
  }

  .list-view .member-info h2 {
    font-size: 1.3rem;
  }

  .list-view .member-details {
    font-size: 1rem;
    gap: 0.5rem;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 80rem) {
  .grid-view {
    grid-template-columns: repeat(4, 1fr);
  }
}